{{#if logged_in}}

<div class="card">
  <h5 class="card-header bg-darkorange text-light">New Post</h5>
  <form class="card-body new-post-form" id="new-post-form">
    <div class="mb-3">
      <label for="post-title" class="form-label">Title</label>
      <input type="text" id="post-title" name="title" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="content">Content</label>
      <textarea id="post-content" name="content" class="form-control" rows="5"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Creat New Post</button>
  </form>
</div>

<script src="/js/add-post.js"></script>
{{/if}}